# Discord Bot Configuration
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here

# PIX Configuration
PIX_KEY=your_pix_key_here
PIX_NAME=Nome do Recebedor
PIX_CITY=Cidade

# Bot Configuration
OWNER_ROLE_ID=your_owner_role_id_here
CART_CATEGORY_ID=your_cart_category_id_here
LOG_CHANNEL_ID=your_log_channel_id_here
CART_EXPIRATION_HOURS=24
CLIENT_ROLE_ID=your_client_role_id_here

# Supabase Configuration
SUPABASE_URL=https://mvpdawsectxuhzwmdiet.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12cGRhd3NlY3R4dWh6d21kaWV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5ODk3MjgsImV4cCI6MjA3MzU2NTcyOH0.RKTPh7ykYYPiZv3Q5Zk5EsHoPK9ePGhijkK8mWr7r38
